- project = project || @project
This is a Sparks Player View of 
= project.name
%p
-# = The url of the image should be "https://cdn.ivoltage.me/release/%s/latest/Emscripten-Shipping/index.html" % project.name
= "The url of the image should be https://cdn.ivoltage.me/release/%s/latest/Emscripten-Shipping/index.html" % project.name
= "The url of the image should be https://cdn.ivoltage.me/release/%s/latest/Emscripten-Shipping/index.html" % project.name
%script(src="/js/myscript.js")
%p
